PORT=3000
TTS_URL=https://ttsapi.tiflo.ge/tts.php

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

CACHE_TTL=86400
REQUEST_TIMEOUT=10000
CACHE_PREFIX=tts

NODE_ENV=development
LOG_LEVEL=info
